<a href="https://colab.research.google.com/github/RubenMcCarty/Desicion_Making_Model_UPN/blob/main/Lab_06_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Wrangling o Negociacion de datos**
## [MSc:Ruben Quispe](https://www.linkedin.com/in/msc-rub%C3%A9n-quispe-l/)

* Manejar valores perdidos
* formatos correctos de datos
* Estandarizar y normalizar datos

# ¿Qué es el data wrangling?
Data Wrangling es el proceso de convertir datos del formato inicial a un formato que puede ser mejor para el análisis.

¿Cuál es la tasa de consumo de combustible (L / 100k) para el automóvil diesel?

# Importar data

In [ ]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

In [ ]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
df = pd.read_csv(filename, names = headers)

In [ ]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

Como podemos ver, aparecieron varios signos de interrogación en el marco de datos; esos son valores perdidos que pueden dificultar nuestro análisis posterior.

Entonces, ¿cómo identificamos todos esos valores perdidos y los tratamos?
¿Cómo trabajar con datos faltantes?

Pasos para trabajar con datos faltantes:

identificar los datos faltantes
lidiar con los datos faltantes
formato de datos correcto

In [ ]:
df.replace('?', np.nan, inplace=True)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

# Evaluación de datos faltantes 
Los valores faltantes se convierten a los predeterminados. Usamos las siguientes funciones para identificar estos valores faltantes. Hay dos métodos para detectar datos faltantes:
*  .isnull()
*  .notnull()

In [ ]:
missing_data = df.isnull()
missing_data.head()

   symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0      False               True  False  ...     False        False  False
1      False               True  False  ...     False        False  False
2      False               True  False  ...     False        False  False
3      False              False  False  ...     False        False  False
4      False              False  False  ...     False        False  False

[5 rows x 26 columns]

In [ ]:
missing_data

     symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0        False               True  False  ...     False        False  False
1        False               True  False  ...     False        False  False
2        False               True  False  ...     False        False  False
3        False              False  False  ...     False        False  False
4        False              False  False  ...     False        False  False
..         ...                ...    ...  ...       ...          ...    ...
200      False              False  False  ...     False        False  False
201      False              False  False  ...     False        False  False
202      False              False  False  ...     False        False  False
203      False              False  False  ...     False        False  False
204      False              False  False  ...     False        False  False

[205 rows x 26 columns]